@page "{questionId}"
@model QuestionsAnswers.Web.Pages.Answer.AllByQuestionModel

@{
    ViewData["Title"] = "Respues de la pregunta";
}
<h2>Respuestas de la pregunta:</h2>
<h2>@Model.Question.Title</h2>

<p><strong>Hecha por:</strong> @Model.Question.UserName</p>
<p><strong>Fecha de creación:</strong> @Model.Question.CreationDate.ToString("yyyy/MM/dd HH:mm:ss")</p>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-warning">
        @Model.ErrorMessage
    </div>
}
else
{
    <h3>Respuestas:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Respuesta</th>
                <th>Usuario</th>
                <th>Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var answer in Model.Answers)
            {
                <tr>
                    <td>@answer.Response</td>
                    <td>@answer.UserName</td>
                    <td>@answer.CreationDate.ToString("yyyy/MM/dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Button to return to the list of questions -->
<a href="/Question/All" class="btn btn-primary">Regresar</a>
